.main-search-field {
    margin-left: 50%;
}
.main-navbar {
    width: 80%;
    background-color: lightgrey
}
.main-icons {
    margin-right: 1.5rem;
    font-size: 3rem;
}
div {
    background-color: #f8f9fa!important
}